.navbar {
    position: relative;
    display: flex;
}

.navbar-fixed {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  /* Key CSS properties for "floating" at the top */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensures it stays on top of other content */

  /* Basic styling */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 10px 20px;*/
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}